body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.animated{
	transform: translateY(30px); 
	opacity: 0;
	animation: slide-in 1s ease forwards; 
	animation-delay: 0.5s;
}

@keyframes slide-in{
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}

.container {
    width: 40%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: auto;
    margin-top: 50px;
}
input, select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}